
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1.label {
    margin-top: 30px;
    margin-bottom: 20px
}

a:hover {
    background-color: transparent;
}

/* 1000px　以上 */


/* サイト名 */
.site h1.title a {
    color: #000000;
    text-decoration: none
}

.site h1.title {
    margin: 0;
    font-size: 30px
}

/* ナビゲーション */
.menu ul {
    margin-top: 10px;
    padding: 0;
    list-style: none;
    background-color: greenyellow
}

.menu li  a {
    display: block;
    padding: 10px;
    color: #000000;
    font-size: 14px;
    text-decoration: none
}

.menu li a:hover { background-color: #eeeeee }

.menu ul:after {
    content: "";
    display: block;
    clear: both;
}

.menu li {
    float: left;
    width: auto
}