// Place all the styles related to the Stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dash_title {
    margin-top: 50px; 
    color:red; 
    text-align:center; 
    font-size:20px
}

.dash_grah {
    margin-top: 20px
}